<!-- header -->
<div class="topbar">
<div class="container nav">
    <a class="brand" href="/index.html">
    <img class="brand-logo" src="/images/logo.svg" alt="YOUR TOURNAMENT">
    <span>YOUR TOURNAMENT</span>
    </a>
    <button class="menuBtn" data-menu-btn>選單</button>
    <div class="navlinks" data-navlinks>
    <a data-nav href="/index.html">主頁</a>
    <a data-nav href="/sites/bracket.html">當前賽程</a>
    <a data-nav href="/sites/organizer.html">主辦方</a>
    <a data-nav href="/sites/players.html">選手資料</a>
    <a data-nav href="/sites/contact.html">聯絡我們</a>
    </div>
</div>
</div>